body {
  background-color: #FFFFFA;
  margin: 40px 20px 20px 20px;
  display: flex;
}

.flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 90vw;
  height: auto;
  margin-top: 0;
}

.header {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
  padding-top: 4.2em;
}

.content {
  flex-grow: 7;
  flex-shrink: 0;
  flex-basis: 100px;
}

.article_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  border-bottom: thin solid #c9c8c8;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1em;
  /*justify-content: space-between;*/
}

.article_title:last-child {
  border-bottom: 0px solid #c9c8c8;
}

.article_detail {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}

.title {
  font-size: 2em;
  line-height: 1.1em;
  font-weight: 600;
  font-family: 'Raleway', Verdana, sans-serif;
  color: #4c4c4c;
  margin-top: 0;
  margin-bottom: 0.4em;
  font-variant-numeric: lining-nums;
}

.explainer {
  display: flex;
  flex-direction: column;
}

.explainer p {
  margin-bottom: .7em;
}

.explainer p:last-child {
  margin-bottom: 0em;
}

p,
h1,
h2,
h3,
h4 {
  color: #393939;
  font-family: 'Raleway', Verdana, sans-serif;
}

p {
  font-size: 0.95em;
  font-weight: 700;
  line-height: 1.6em;
  margin-top: 30px;
}

p sup {
  font-size: 0.5em;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 1em;
  color: #4c4c4c;
  font-variant-numeric: lining-nums;
}

h1 sup {
  font-size: 0.7em
}

h2 {
  font-size: 2.3em;
  font-weight: 1200;
  font-variant: small-caps;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1em;
}

h3 {
  font-size: 0.75em;
  font-weight: 1000;
  line-height: 1.5em;
}

h4 {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1em;
  font-weight: 600;
  margin-bottom: 0.9em;
  margin-top: 0em;
  font-variant: small-caps;
}

.link_header:link {
  text-decoration: none;
  color: #8b675e;
  font-family: 'Raleway', Verdana, sans-serif;
}

.link_header:hover {
  color: #423A35;
  text-decoration: underline;
  font-family: 'Raleway', Verdana, sans-serif;
}

.link_header:visited {
  color: #b26e6e;
  font-family: 'Raleway', Verdana, sans-serif;
}

a:link {
  color: #4c4c4c;
  text-decoration: none;
}

.title:hover {
  color: #23201f;
  text-decoration: none;
}

a:visited {
  color: #4c4c4c;
  text-decoration: none;
}

img {
  height: 150px;
  width: 150px;
  margin-right: .8em;
  opacity: .9;
	transition: .3s ease-in-out;
}

/*img:hover {
  opacity: 1;
}*/

.soundcloud {
  width: 95%;
  height: 300px;
  margin-bottom: 1em;
  scrolling: no;
  frameborder: no;
  opacity: .7;
  transition: .3s ease-in-out;
}

.soundcloud:hover {
  opacity: 1
}

.youtube {
  width: 560px;
  height: 315px;
  margin-bottom: 1em;
}

.explainer .info_snippet {
  margin-bottom: .7em;
  font-family: 'Raleway', Verdana, sans-serif;
  background-color: #D20B0B;
  color: #FFFFFA;
  max-width: 9em;
  height: 1.5em;
  font-size: .7em;
  text-align: center;
  border-radius: 5px;
  font-weight: 100;

}

span {
  vertical-align: middle;
}
